:root {
  --bg-primary-color: linear-gradient(130deg,
      #1D2948 0%,
      #141D33 25%,
      #0F1628 38%,
      #050A16 100%);
  --primary-font: "Roboto", sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen background */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: #050A16;
  background-image: var(--bg-primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* App layout */
.app {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 2rem;
  padding-inline: clamp(1rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.nav-links li {
  opacity: 0.75;
}

.nav-links .uppercase {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  opacity: 1;
}

/* Solar System image wrapper */
.planets-wrap {
  width: 100%;
  position: relative;
}

.backImage {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  object-fit: contain;
  bottom: -20rem;
  transition: all 0.5s ease-in-out;
}

.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.planet .planet-name {
  margin-block: 2rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-inline: auto;
}

.planet-infos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100rem;
  width: 100%;
}

.planet-infos .info h4 {
  text-transform: uppercase;
  opacity: 75%;
  letter-spacing: 2px;
  margin-bottom: 2px;
}

.planet-image-wrap {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 2rem;
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap .main-img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  margin-inline: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap .prev-img,
.planet-image-wrap .next-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;

}

.planet-image-wrap .prev-img {
  position: relative;
  left: -4rem;
}


.planet-image-wrap .next-img {
  position: relative;
  right: -4rem;
}


@media (max-width: 600px) {

  .backImage {
    top: 14rem;
    bottom: unset;
  }

  .planet-image-wrap {
    top: 18rem;
    bottom: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .planet-image-wrap .main-img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  .planet-image-wrap .prev-img,
  .planet-image-wrap .next-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;

  }
}