:root {
  --bg-primary-color: linear-gradient(130deg,
      #1D2948 0%,
      #141D33 25%,
      #0F1628 38%,
      #050A16 100%);
  --primary-font: "Roboto", sans-serif;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen background */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: #050A16;
  background-image: var(--bg-primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* App layout */
.app {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 2rem;
  padding-inline: clamp(1rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
}

.nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: uppercase;

  h2 {
    letter-spacing: 1rem;
  }
}

.nav-mob-links {
  position: absolute;
  top: 3rem;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.8rem;
  animation: fadeInOpacity 0.5s ease-in-out;
}

.menu-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  outline: none;
  padding: 5px;
  border: 1px solid white;
  color: white;
  align-self: flex-start;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: none;
  font-size: 1rem;
}

.nav-links li {
  opacity: 0.75;
}

.nav-links .uppercase {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  opacity: 1;
}

/* Solar System image wrapper */
.planets-wrap {
  width: 100%;
  position: relative;
}

.solarSystem {
  width: 100%;
  position: fixed;
  top: 23.5rem;
  left: 0;
  right: 0;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}


.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.planet .planet-name {
  margin-block: 2rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-inline: auto;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  display: inline-block;

  &::after {
    content: "";
    margin-left: -2rem;
  }
}

.planet-infos {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
  gap: 1.5rem;
  text-align: center;
  grid-template-columns: repeat(3, 8rem);
  grid-template-areas:
    "A . B"
    ". C ."
    "D . E";
}

.info:nth-of-type(1) {
  grid-area: A;
}

.info:nth-of-type(2) {
  grid-area: B;
}

.info:nth-of-type(3) {
  grid-area: C;
}

.info:nth-of-type(4) {
  grid-area: D;
}

.info:nth-of-type(5) {
  grid-area: E;
}


.planet-infos .info h4 {
  text-transform: uppercase;
  opacity: 75%;
  letter-spacing: 2px;
  margin-bottom: 2px;
}


.planet-infos .info p {
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 35rem;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}


.planet-image-wrap .main-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-inline: auto;
  position: relative;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap .prev-img img,
.planet-image-wrap .next-img img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}


.planet-image-wrap .prev-img,
.planet-image-wrap .next-img {
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
  gap: 1rem;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    transition: all 0.5s ease-in-out;
  }

}

.planet-image-wrap .prev-img {
  position: absolute;
  left: -3rem;

  h4 {
    transform: translateX(-20px);
  }
}


.planet-image-wrap .next-img {
  position: absolute;
  right: -3rem;

  h4 {
    transform: translateX(30px);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 470px) {

  .planet-name {
    font-size: 1.2rem;
  }

  .planet-infos {
    grid-template-columns: 1fr;
    grid-template-areas: "A"
      "B"
      "C"
      "D"
      "E";
  }

  .solarSystem {
    top: 30rem;
  }

  .planet-image-wrap .main-img {
    width: 7rem;
    height: 7rem;
  }

  .planet-image-wrap .prev-img img,
  .planet-image-wrap .next-img img {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 700px) {

  .nav-mobile {
    display: none;
  }

  .solarSystem {
    bottom: -20rem;
    top: unset;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .planet-image-wrap {
    top: unset;
    bottom: 2rem;
  }

  .planet-infos {
    max-width: 60rem;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .planet-image-wrap .prev-img,
  .planet-image-wrap .next-img {
    h4 {
      font-size: 0.9rem;
      transform: none;
    }
  }

  .planet-image-wrap .main-img {
    width: 18rem;
    height: 18rem;
  }

  .planet-image-wrap .prev-img img,
  .planet-image-wrap .next-img img {
    width: 8rem;
    height: 8rem;
  }
}


@media (min-width: 900px) {
  .solarSystem {
    bottom: -30rem;
  }
}


@media (min-width: 1200px) {
  .solarSystem {
    bottom: -60rem;
  }

  .planet-image-wrap {
    bottom: 2rem;
  }

  .planet-image-wrap .main-img {
    width: 25rem;
    height: 25rem;

  }

  .planet-image-wrap .prev-img,
  .planet-image-wrap .next-img {
    flex-direction: row;

    h4 {
      font-size: 1.5rem;
      transform: none;
    }
  }

  .planet-image-wrap .prev-img img,
  .planet-image-wrap .next-img img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }
}