:root {
  --bg-primary-color: linear-gradient(130deg,
      #1D2948 0%,
      #141D33 25%,
      #0F1628 38%,
      #050A16 100%);
  --primary-font: "Roboto", sans-serif;
  --dropshadow-pink: drop-shadow(-18px 15px 80px #55024bc1);
  --dropshadow-yellow: drop-shadow(-18px 15px 80px #552a02c1);
  --dropshadow-green: drop-shadow(-18px 15px 80px #054325c1);
  --dropshadow-blue: drop-shadow(-18px 15px 80px #051e43c1);

}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fullscreen background */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  background-color: #050A16;
  background-image: var(--bg-primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

/* App layout */
.app {
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 2rem;
  padding-inline: clamp(1rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars {
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 2%;
  width: 500px;
  height: 500px;
  transition: all 0.5s ease-in-out;
}

.stars-expand {
  animation: expandBounce 0.5s ease forwards;
}

@keyframes expandBounce {
  0% {
    top: 0%;
  }

  80% {
    top: 5.2%;
    left: 8.2%;
    transform: scale(1.15);
  }

  100% {
    top: 5%;
    left: 8%;
    transform: scale(1.15);
  }
}


.stars-collapse {
  animation: expandCollapse 0.5s ease forwards;
}

@keyframes expandCollapse {
  100% {
    top: 0%;
    left: 2%;
    scale: (1);
  }


  0% {
    top: 5%;
    left: 11%;
    transform: scale(1.25);
  }
}





/* Header */
.header {
  width: 100%;
}

.nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3000;
  text-transform: uppercase;

  h2 {
    letter-spacing: 1rem;
  }
}

.nav-mob-links {
  position: absolute;
  top: 3rem;
  left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 0.8rem;
  animation: fadeInOpacity 0.5s ease-in-out;
}

.menu-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  outline: none;
  padding: 5px;
  border: 1px solid white;
  color: white;
  align-self: flex-start;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: none;
  font-size: 1rem;
}

.nav-links li {
  opacity: 0.75;
}

.nav-links .uppercase {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  opacity: 1;
}

/* Solar System image wrapper */
.planets-wrap {
  width: 100%;
  position: relative;
}

.solarSystem {
  width: 100%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}

.dropShadow_1 {
  filter: var(--dropshadow-pink);
}

.dropShadow_2 {
  filter: var(--dropshadow-yellow);
}

.dropShadow_3 {
  filter: var(--dropshadow-green);
}

.dropShadow_4 {
  filter: var(--dropshadow-blue);
}


.planet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.planet .planet-name {
  margin-block: 3rem;
  text-transform: uppercase;
  letter-spacing: 2rem;
  margin-inline: auto;
  width: fit-content;
  transition: all 0.5s ease-in-out;
  display: inline-block;

  &::after {
    content: "";
    margin-left: -2rem;
  }
}

.blurRec {
  width: 500px;
  height: 120px;
  position: absolute;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  filter: blur(95px);
  transition: background 2s ease-in-out;
}

.blurRec.left {
  left: -23%;
}

.blurRec.right {
  top: 40%;
  right: -23%;
}

.blurRecgradient_1 {
  background-image: linear-gradient(-82deg,
      #5200FF 0%,
      #CA2B9D 100%);
  opacity: 50%;
}

.blurRecgradient_2 {
  background-image: linear-gradient(-82deg,
      #FFB800 0%,
      #FF8A00 100%);
  opacity: 35%;
}

.blurRecgradient_3 {
  background-image: linear-gradient(-82deg,
      #054325 0%,
      #05430B 100%);
  opacity: 70%;
}

.blurRecgradient_4 {
  background-image: linear-gradient(-82deg,
      #052543 0%,
      #013E77 100%);
  opacity: 70%;
}

.planet-infos {
  display: grid;
  position: relative;
  z-index: 350;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
  width: 100%;
  transition: all 0.5s ease-in-out;
  gap: 1.5rem;
  text-align: center;
  grid-template-columns: repeat(3, 8rem);
  grid-template-areas:
    "A . B"
    ". C ."
    "D . E";
}

.info:nth-of-type(1) {
  grid-area: A;
}

.info:nth-of-type(2) {
  grid-area: B;
}

.info:nth-of-type(3) {
  grid-area: C;
}

.info:nth-of-type(4) {
  grid-area: D;
}

.info:nth-of-type(5) {
  grid-area: E;
}


.planet-infos .info h4 {
  text-transform: uppercase;
  opacity: 75%;
  letter-spacing: 2px;
  margin-bottom: 2px;
}


.planet-infos .info p {
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transform: translateY(105%);
  transition: all 0.5s ease-in-out;
}

.planet-image-wrap .prev-img,
.planet-image-wrap .next-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }
}


.planet-image-wrap .next-img img,
.planet-image-wrap .prev-img img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.planet-image-wrap .main-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 470px) {

  .planet-name {
    font-size: 1.2rem;
  }

  .planet-infos {
    grid-template-columns: 1fr;
    grid-template-areas: "A"
      "B"
      "C"
      "D"
      "E";
  }

  .planet-image-wrap .next-img img,
  .planet-image-wrap .prev-img img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }

  .planet-image-wrap .main-img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
}

@media (min-width: 786px) {

  .nav-mobile {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .solarSystem {
    margin-top: 6rem;
  }

  .planet-infos {
    max-width: 60rem;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }


  .planet-image-wrap {
    transform: translateY(120%);
    margin-inline: auto;
  }

  .planet-image-wrap .next-img,
  .planet-image-wrap .prev-img {
    flex-direction: row;
  }

  .next-img {
    position: relative;
    right: -12%;
  }

  .prev-img {
    position: relative;
    left: -12%;
  }

  .planet-image-wrap .next-img img,
  .planet-image-wrap .prev-img img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
  }

  .planet-image-wrap .main-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
}


@media (min-width: 900px) {

  .solarSystem {
    margin-top: 0rem;
  }

  .planet-image-wrap {
    transform: translateY(25%);
  }

  .planet-image-wrap .next-img img,
  .planet-image-wrap .prev-img img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
  }

  .planet-image-wrap .main-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
  }
}


@media (min-width: 1200px) {
  .solarSystem {
    bottom: -60rem;
  }

  .planet-image-wrap .next-img img,
  .planet-image-wrap .prev-img img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
  }

  .planet-image-wrap .main-img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
  }
}